<div class="jumbotron center">
	<h1>Marie's Mind</h1> 
			<p>
				<%= link_to raw('<span class="glyphicon glyphicon-hand-up"></span> New member'), new_user_registration_path, class: "btn btn-primary btn-lg" %>
			</p>
This website is brand new!
</div>
	 

