<div class="jumbotron center">
	<h1>Marie's Mind</h1> 
	</br>	
	<% if user_signed_in? %>
		# do something

	<% else %>
			<p>
				<%= link_to raw('<span class="glyphicon glyphicon-hand-up"></span> New member'), new_user_registration_path, class: "btn btn-primary btn-lg" %>
			</p>
	<% end %>

</div>

	This website is brand new! 

