<div class="jumbotron center">
	<h1>Marie's Mind</h1> 
	<p>
		<%= link_to "Log in", "#", class: "btn btn-default btn-lg" %>
		<%= link_to "Sign up", "#", class: "btn btn-primary btn-lg" %>
	</p>
	This website is brand new! 
</div>
